<a href="https://colab.research.google.com/github/guilhermelaviola/IntelligentCommunication/blob/main/Class05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing all the necessary libraries and resources:
import sqlite3

In [3]:
# Connecting to the database (or create a new one if there's no database yet):
conn = sqlite3.connect('example.db')

# Creating a cursor to execute SQL commands:
cursor = conn.cursor()

# Creating a SQL table
cursor.execute('''
CREATE TABLE IF NOT EXISTS people (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER NOT NULL
)
''')

# Inserting data into the table:
cursor.execute('INSERT INTO people (name, age) VALUES (?, ?)', ('Alice', 30))
cursor.execute('INSERT INTO people (name, age) VALUES (?, ?)', ('Bob', 25))

# Saving the changes (commit):
conn.commit()

# Retrieving data:
cursor.execute('SELECT * FROM people')
rows = cursor.fetchall()

# Displaying the data:
for row in rows:
  print(row)

# Closing the connection:
conn.close()

(1, 'Alice', 30)
(2, 'Bob', 25)